/* Reset */
body {
  margin: unset;
}

/* Layout */
body {
  background-color: rgb(210, 219, 248);
}
.l_wrapper {
  width: 1200px;
  margin: 0 auto;
}

img {
  margin: auto;
  display: block;
}

/* Components */
.header {
  margin: 30px;
}

.contents {
  padding-top: 50px;
  padding-bottom: 100px;
}

.box {
  background-color: plum;
  box-shadow: inset 0 0 10px red;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  overflow: hidden;
}
.time_contents {
  /* margin: 0 auto;   */
  text-align: center;
}

.time_wraaper {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-top: 30px;
  padding-bottom: 15px;
  text-align: center;
}

.time_contents span {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.time_contents p {
  font-size: 20px;
}

.HRS {
  box-shadow: inset 0 0 10px orange;
  width: 100px;
  height: 100px;
}

.MIN {
  box-shadow: inset 0 0 10px orange;
  width: 100px;
  height: 100px;
}

.SEC {
  box-shadow: inset 0 0 10px orange;
  width: 100px;
  height: 100px;
}
.btn_wrapper {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
}

.btn {
  padding: 30px;
  font-size: medium;
  background-color: beige;
  color: blueviolet;
  border-radius: 50px;
  border: 2px solid navy;
  margin-right: 15px;
}

.footer {
  text-align: center;
  padding: 30px;
  border-top: 2px solid #999;
}
